
@{
    ViewBag.Title = "Organization";
    ViewBag.TitleIcon = "organization.png";
    ViewBag.NavbarOrganization = "active";
    Layout = "~/Views/Shared/_MainContent.cshtml";
}
<section class="content" ng-app="myApp" ng-controller="organizationCtrl">
    <div class="row">
        <div class="col-12">
            <div class="card card-gray-dark">
                <div class="card-header">
                    <h3 class="card-title">Organization List</h3>
                </div>
                <div class="card-body">
                    <div class="overlay d-flex justify-content-center align-items-center" ng-show="overlay==true">
                        <i class="fas fa-2x fa-sync fa-spin"></i>
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="1%">Sl</th>
                                <th>Name</th>
                                <th width="1%">Status</th>
                                <th width="1%" class="text-center"><a data-toggle="modal" href="#organization-modal" title="Add Organization" class="btn btn-sm btn-success" ng-click="onClick('Reset')"><i class="fa fa-plus-circle"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in OrganizationLists">
                                <td>{{$index+1}}</td>
                                <td>
                                    {{item.Name}}
                                </td>
                                <td>
                                    <label ng-show="item.Status==1" class="badge badge-success">Active</label>
                                    <label ng-show="item.Status!=1" class="badge badge-danger">In Active</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a data-toggle="modal" href="#organization-modal" title="Edit Organization" class="btn btn-sm btn-primary" ng-click="onClick('EditOrganization',item)"><i class="fa fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>

                    </table>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="modal fade" id="organization-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Organization</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input ng-model="Name" type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 control-label">Active</label>
                                <div class="custom-control custom-checkbox">
                                    <input class="col-sm-9 custom-control-input" type="checkbox" id="customCheckbox2" ng-model="Status">
                                    <label for="customCheckbox2" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!-- /.card-footer -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-toggle="tooltip" title="Save" type="button" class="btn btn-success pull-right" data-dismiss="modal" ng-disabled="!Name" ng-click="onClick('SaveOrganization',obj)"><i class="fa fa-save"></i></button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>
@section Scripts
    {
    <script src="~/scripts/Angular/appModul.js"></script>
    <script src="~/scripts/Angular/Organization/OrganizationService.js"></script>
    <script src="~/scripts/Angular/Organization/OrganizationController.js"></script>
    @*<script src="~/scripts/Angular/RolePermission/RoleService.js"></script>
    <script src="~/scripts/Angular/RolePermission/RoleController.js"></script>*@
}

